<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class = {{ category }}>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/process" method="POST">
            Email Adrress: <input type="email" name="email">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
