<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Hello World</h1>
        <form action="/result" method="post">
            Your Name: <input type="text" name="name">
            <br>
            Dojo Location:
            <select name="location">
                <option value="Mexico">Mexico</option>
                <option value="Canada">Canada</option>
                <option value="Burbank">Burbank</option>
                <option value="United Kingdom">United Kingdom</option>
            </select>
            <br>
            Favorite Language:
            <select name='language'>
                <option value="Python">Python</option>
                <option value="Ruby">Ruby</option>
                <option value="Swift">Swift</option>
                <option value="Batman">Batman</option>
            </select>
            <br>
            Comment (optional):
            <br>
            <textarea name="comment" rows="8" cols="80"></textarea>
            <br>
            <input type="submit" name="button" value="button">
        </form>
    </body>
</html>
