<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <!-- <h1>Hello World</h1> -->
    <h1>Add a new course:</h1>
    <form action="/add" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name" value=""> Description: <input type="text" name="description" value="">
        <input type="submit" name="add" value="Add">
    </form>
    <h1>Courses:</h1>
    <table BORDER="5">
        <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for courses in course %}
        <tr>
            <td>{{courses.id}}</td>
            <td>{{courses.name}}</td>
            <td>{{courses.description}}</td>
            <td>{{courses.created_at}}</td>
            <td><a href="/destroy/{{courses.id}}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
